body{
  text-align: center;
  background-color: black;
}


h3 {
    font-size: 250%;
    color:white;
  }
  
  h3:hover {
    cursor: pointer;
    animation: mymove 2s infinite;
  }
  
  @keyframes mymove {
    from {
      color: yellow;
    }
    to {
      color: yellowgreen;
      font-size: 300%;
    }
  }